nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #ec4c8b;
  padding: 10px 80px;
  border: solid 1px transparent;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons :first-child {
  width: 50px;
}

.icons :last-child {
  width: 50px;
}

.logo {
  width: 150px;
  height: 70px;
  border: solid 1px transparent;
}
