nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #ec4c8b;
  padding: 10px 40px;
  border: solid 1px transparent;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons :first-child {
  width: 50px;
}

.icons :last-child {
  width: 50px;
}

.back-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 150px;
  height: 70px;
  border: solid 1px transparent;
}

.goBack {
  padding: 10px;
  background-color: #ec4c8b;
  color: #fff;
  width: 60px;
  border: solid 1px transparent;
  box-shadow: 0 0 30px rgba(250, 203, 203, 0.9);
}

.goBack:hover {
  cursor: pointer;
  transform: scale(1, 1);
}
